
.AddressBar {

  position: relative;

  .input-content {
    color: #525252;
    width: 500px;
    border: none;
    outline: none;
  }

  .input {
    padding: 5px;
    border: none;
    width: 500px;

    &:focus {
      outline: none;
      border: none;
    }
  }
}
