
.Autocomplete {

  position: absolute;
  left: 85px;
  background-color: #FFF;
  width: 500px;
  right: 0;
  font-family: Helvetica;
  font-size: 0.8em;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin-top: -1px;

  .item {
    padding: 10px;

    &.active {
      background-color: #3498db;
      color: white;
    }
  }
}
