
.Content {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 0; right: 0;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFF;

  &.active {
    z-index: 1;
  }

  .webview-element {
    flex: 1;
  }

}
