
.Frame {

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100vw;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .toolbar {

    display: flex;
    align-items: center;
    height: 35px;

    color: grey;

    .icons {

      position: absolute;
      left: 100px;
      width: 80px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        color: grey;
        cursor: pointer;
      }

      .ion-refresh {
        cursor: pointer;
      }

      .disabled {
        color: #d6d6d6;
      }
    }
  }
}
