
.Like {

  width: 75px;
  position: absolute;
  top: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  color: silver;
  font-family: Helvetica;
  text-transform: uppercase;
  color: #b3b3b3;

  .like-container,
  .bookmark-container {
    display: -webkit-box;
  }

  .bookmark-container:hover {
    color: #ffde00;
  }

  .like-container:hover {
    color: #fa2c8f;
  }

  span {
    cursor: pointer;
    font-size: 0.7em;
    margin-left: 2px;

    &.red { color: red; }
    &.green { color: green; }
  }

  .thumb {
    margin-left: 5px;
    cursor: pointer;

    &.green { color: green }
  }

  .heart {
    cursor: pointer;
    margin-left: 7px;
    margin-top: 2px;

    &.red { color: red; }
  }
}
