
.Tab {

  height: 30px;
  font-family: Helvetica Neue, Helvetica;
  font-size: 13px;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #F0f0f0;
  border-bottom: 1px solid #f0f0f0;
  flex: 1;

  img {
    margin-right: 4px;
  }

  .ion-close-round {
    position: absolute;
    right: 5px;
    top: 10px;
  }

  &.active {
    background-color: #FFF;
    border-bottom: 1px solid #fff;
  }
}
