
.Tab {

  box-sizing: border-box;
  transition: all .2s ease-in-out;
  cursor: default;
  height: 30px;
  bottom: 0;
  position: relative;
  font-family: Helvetica;
  color: grey;
  font-weight: lighter;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  background-color: #f9f9f9;
  padding: 0 5px;
  top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 150px;

  .ion-close-round {
    position: absolute;
    font-size: 12px;
    top: 9px;
    right: 10px;;
  }

  .title {
    color: #424242;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100px;
  }

  img {
    margin-top: 3px;
    margin-right: 5px;
  }

  &.active {
    background-color: #fff;
    z-index: 1;
  }

  .new-tab {
  
    flex: 0.0001;
    animation: flexGrow 500ms ease forwards;
  }

  .remove-item {
    flex: 1;
    animation: flexSrink 500ms ease forwards;
  }

}

@keyframes flexGrow {
  to { flex: 1; }
}

@keyframes flexSrink {
  to {
    flex: 0.1;
    flex: 0.0001;
  }
}
