
.Tabs {

  background-color: #f0f0f0;
  display: flex;
  display: flex;
  align-items: center;
  height: 30px;
  position: relative;
  background: none;
  border-top: 1px solid #f0f0f0;

  .list {
  
    bottom: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  .plus {
    background-color: #e5e5e5;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      color: silver;
      margin-top: 3px;
    }
  }
}
