
.Tabs {

  padding-left: 80px;
  background-color: #f0f0f0;
  display: flex;
  display: flex;
  align-items: flex-end;
  height: 35px;
  position: relative;
  background: none;
  margin-bottom: -1px;

  .list {
  
    bottom: 0;
    width: 100%;
    margin-right: 50px;
    display: flex;
    overflow: hidden;
  }

  .plus {
    background-color: #FFF;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      color: silver;
      margin-top: 5px;
    }
  }
}
